baseURL: "https://zhangpeng-system.github.io/blog/"
title: JOJO's Blog
paginate: 15
theme: PaperMod
enableInlineShortcodes: true #允许内联短码
enableEmoji: true # 允许使用 Emoji 表情，建议 true
enableRobotsTXT: true # 允许爬虫抓取到搜索引擎，建议 true
hasCJKLanguage: true # 自动检测是否包含 中文日文韩文 如果文章中使用了很多中文引号的话可以开启
buildDrafts: false # 下書きをビルドしない
buildFuture: false # 未来の投稿をビルドしない
buildExpired: false # 期限が切れた投稿をビルドしない
minify:
  disableXML: true # XMLを無効にする
  minifyOutput: true # 出力を最小化する
permalinks: #浏览器链接显示方式
  post: "/:title/"
googleAnalytics: UA-123-45
params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: ExampleSite
  description: "ブログ環境説明文"
  keywords: [Blog, Portfolio, PaperMod, Flutter, ブログ, 初心者, 技術, IT]
  author: JOJO
  images: ["icon/my-icon.jpg"] # staticフォルダに配置
  DateFormat: "2006-01-02"
  defaultTheme: auto # dark, light
  disableThemeToggle: false # テーマのトグルを無効にする
  ShowReadingTime: true
  ShowShareButtons: false
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  ShowToc: true
  TocOpen: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  assets:
    favicon: "icon/my-icon.jpg"
    favicon16x16: "icon/my-icon.jpg"
    favicon32x32: "icon/my-icon.jpg"
    apple_touch_icon: "icon/my-icon.jpg"
    safari_pinned_tab: "icon/my-icon.jpg"
  label:
    text: JOJO's Blog
    # icon: icon/my-icon.jpg
    # iconHeight: 35
  profileMode:
    enabled: true
    title: Keep it simple, stupid.
    # subtitle:
    #   Keep it simple, stupid.
    imageUrl: "icon/my-icon.jpg"
    imageWidth: 120
    imageHeight: 120
    imageTitle: こんにちは、ZHANG PENGと申します。
    buttons:
      - name: Blog
        url: posts
      - name: Profile
        url: profile
  socialIcons:
    - name: github
      url: "https://github.com/zhangpeng-system"
    - name: twitter
      url: "https://twitter.com/PENGZHA83634254"
    - name: email
      url: "mailto:zhangpeng.system@gmail.com"
    - name: RSS
      url: "index.xml"
    # - name: QQ
    #   url: "img/qq.png"
    # - name: WeChat
    #   url: "img/wechat.png"
    # - name: stackoverflow
    #   url: "https://stackoverflow.com"
  analytics:
    google:
      SiteVerificationTag: "XYZabc"
    bing:
      SiteVerificationTag: "XYZabc"
    yandex:
      SiteVerificationTag: "XYZabc"
  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: home
      name: Home
      url: /
      weight: 1
    - identifier: categories
      name: Categories
      url: categories
      weight: 2
    - identifier: tags
      name: Tags
      url: tags
      weight: 3
    - identifier: search
      name: Search
      url: "search"
      weight: 4
    - identifier: archive
      name: Archive
      url: archives
      weight: 5
pygmentsUseClasses: true
outputs:
  home:
    - HTML
    - RSS
    - JSON # is necessary
markup:
  goldmark:
    renderer:
      unsafe: true # HUGO 默认转义 Markdown 文件中的 HTML 代码，如需开启的话
      hardWraps: true
      guessSyntax: false
  highlight:
    # anchorLineNos: true
    codeFences: true # 代码围栏功能，这个功能一般都要设为 true 的，不然很难看，就是干巴巴的-代码文字，没有颜色。
    guessSyntax: false # guessSyntax：猜测语法，这个功能建议设置为 true, 如果你没有设置要显示的语言则会自动匹配。
    lineNos: true # 是否显示行号，我比较喜欢显示，所以我设置的为 true.
    noClasses: false # 使用 class 标签，而不是内嵌的内联样式
    style: monokai
    # style: darcula
    # hl_Lines：高亮的行号，一般这个不设置，因为每个代码块我们可能希望让高亮的地方不一样。
    lineNoStart: 1 # 行号从编号几开始，一般从 1 开始。
    # lineNumbersInTable：使用表来格式化行号和代码,而不是 标签。这个属性一般设置为 true.
